In [1]:
import pandas as pd

In [2]:
current_df_li = ['MMLU.csv','mathQA.csv','Bigbench.csv','GSM8K.csv']

In [3]:
df_li = []
for df_name in current_df_li:
    df_li.append(pd.read_csv(df_name))
df_all = pd.concat(df_li,ignore_index=True)
df_all

,Name,Category,Question,Correct Answer,inputs,converted_targets
0,MMLU_test,abstract_algebra,Find the degree for the given field extension ...,B,NaN,NaN
1,MMLU_test,abstract_algebra,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",C,NaN,NaN
2,MMLU_test,abstract_algebra,Find all zeros in the indicated finite field o...,D,NaN,NaN
3,MMLU_test,abstract_algebra,Statement 1 | A factor group of a non-Abelian ...,B,NaN,NaN
4,MMLU_test,abstract_algebra,Find the product of the given polynomials in t...,B,NaN,NaN
...,...,...,...,...,...,...
69425,GSM8K_hard,Challenging Math,Jen decides to travel to 3 different countries...,3319635.0,NaN,NaN
69426,GSM8K_hard,Challenging Math,"Alex, Stan, and Adelwolfe are trying to catch ...",147.0,NaN,NaN
69427,GSM8K_hard,Challenging Math,The red rope was four times the length of the ...,20.0,NaN,NaN
69428,GSM8K_hard,Challenging Math,A farm has 10 2-legged animals and 8765805 4-l...,17531620.0,NaN,NaN
69429,GSM8K_hard,Challenging Math,The girls are trying to raise money for a carn...,2180.0,NaN,NaN

In [5]:
df_all.to_csv('combined_df.csv',index=False)