In [26]:
import json
import pandas as pd

In [27]:
filename = 'challenge_test.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [28]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_challenge = pd.DataFrame(data)
df_challenge.insert(0,'Name','Self_Check_challenge_test')
df_challenge.insert(1,'Category','Challenging Math')
df_challenge

,Name,Category,Question,Correct Answer
0,Self_Check_challenge_test,Challenging Math,there are 1000 buildings in a street . a sign ...,c
1,Self_Check_challenge_test,Challenging Math,a man bought 20 shares of rs . 50 at 5 discoun...,c
2,Self_Check_challenge_test,Challenging Math,"? % of 360 = 108 The options are: a ) 30 , b )...",a
3,Self_Check_challenge_test,Challenging Math,a corporation double its annual bonus to 100 o...,a
4,Self_Check_challenge_test,Challenging Math,a and b together do a work in 20 days . b and ...,b
...,...,...,...,...
599,Self_Check_challenge_test,Challenging Math,"if a coin is flipped , the probability that th...",b
600,Self_Check_challenge_test,Challenging Math,two brothers take the same route to school on ...,d
601,Self_Check_challenge_test,Challenging Math,the ratio of the cost price and the selling pr...,c
602,Self_Check_challenge_test,Challenging Math,what is the value of ( 44444445 * 88888885 * 4...,a
603,Self_Check_challenge_test,Challenging Math,4 shepherds were watching over the flocks and ...,b

In [29]:
filename = 'dev.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [30]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_dev = pd.DataFrame(data)
df_dev.insert(0,'Name','Self_Check_dev')
df_dev.insert(1,'Category','Math')
df_dev

,Name,Category,Question,Correct Answer
0,Self_Check_dev,Math,a multiple choice test consists of 4 questions...,c
1,Self_Check_dev,Math,a 3 - digit positive integer is chosen at rand...,b
2,Self_Check_dev,Math,if x and y are positive integers and 7 + x + y...,c
3,Self_Check_dev,Math,the hcf and lcm of two numbers m and n are res...,d
4,Self_Check_dev,Math,"in a kilometer race , a beats b by 48 meters o...",a
...,...,...,...,...
4470,Self_Check_dev,Math,how many figures are required for numbering th...,c
4471,Self_Check_dev,Math,if the length of the longest chord of a certai...,b
4472,Self_Check_dev,Math,in how many ways 2 boys and 2 girls can be sea...,b
4473,Self_Check_dev,Math,"for what value of x , is | x â€“ 3 | + | x + 1 |...",e
4474,Self_Check_dev,Math,the ratio of number of boys and girls in a sch...,d

In [31]:
filename = 'MATH_np.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['question'])
    right_answers.append(sample['final_answer'])

In [32]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_MATH_np = pd.DataFrame(data)
df_MATH_np.insert(0,'Name','Self_Check_MATH_np')
df_MATH_np.insert(1,'Category','Math')
df_MATH_np

,Name,Category,Question,Correct Answer
0,Self_Check_MATH_np,Math,What is the length of the segment of the numbe...,6
1,Self_Check_MATH_np,Math,John is 31 years younger than his dad. The sum...,42
2,Self_Check_MATH_np,Math,At Central Middle School the $108$ students wh...,6
3,Self_Check_MATH_np,Math,"Suppose that $h(x)=f^{-1}(x)$. If $h(2)=10$, $...",1
4,Self_Check_MATH_np,Math,What is the sum of all integer values of $x$ s...,26
...,...,...,...,...
695,Self_Check_MATH_np,Math,A line has slope $-\frac{7}{4}.$ Which of the...,"\text{C, F, H}"
696,Self_Check_MATH_np,Math,Let $a = 5 - 8i$ and $b = 30 + 48i$. Find $|ab|$.,534
697,Self_Check_MATH_np,Math,Below is the graph of $y = a \cos bx$ for some...,4
698,Self_Check_MATH_np,Math,Compute\n\[\begin{vmatrix} 0 & 1 \\ 3 & 5 \end...,-3
699,Self_Check_MATH_np,Math,Compute $\begin{pmatrix} 5 \\ -4 \end{pmatrix}...,\begin{pmatrix} -6 \\ 6 \end{pmatrix}

In [33]:
filename = 'test.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [34]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_test = pd.DataFrame(data)
df_test.insert(0,'Name','Self_Check_test')
df_test.insert(1,'Category','Math')
df_test

,Name,Category,Question,Correct Answer
0,Self_Check_test,Math,a shopkeeper sold an article offering a discou...,a
1,Self_Check_test,Math,what will be the difference between simple and...,a
2,Self_Check_test,Math,there are 28 stations between hyderabad and ba...,c
3,Self_Check_test,Math,the present population of a town is 3888 . pop...,e
4,Self_Check_test,Math,the triplicate ratio of 1 : 9 is ? The options...,e
...,...,...,...,...
2980,Self_Check_test,Math,find the area of a parallelogram with base 20 ...,c
2981,Self_Check_test,Math,"in a garden , there are 10 rows and 14 columns...",e
2982,Self_Check_test,Math,a can do a piece of work in 6 hours ; b and c ...,d
2983,Self_Check_test,Math,a train 250 m long running at 72 kmph crosses ...,a
2984,Self_Check_test,Math,4 shepherds were watching over the flocks and ...,b

In [35]:
filename = 'test.jsonl.txt'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)
        text.append(sample["question"])
        full_answer = sample['answer']
        answer = full_answer.split('#### ')
        right_answers.append(answer[1])

In [36]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_test_jsonl = pd.DataFrame(data)
df_test_jsonl.insert(0,'Name','Self_Check_test_jsonl')
df_test_jsonl.insert(1,'Category','Math')
df_test_jsonl

,Name,Category,Question,Correct Answer
0,Self_Check_test_jsonl,Math,Janetâ€™s ducks lay 16 eggs per day. She eats th...,18
1,Self_Check_test_jsonl,Math,A robe takes 2 bolts of blue fiber and half th...,3
2,Self_Check_test_jsonl,Math,Josh decides to try flipping a house. He buys...,70000
3,Self_Check_test_jsonl,Math,James decides to run 3 sprints 3 times a week....,540
4,Self_Check_test_jsonl,Math,"Every day, Wendi feeds each of her chickens th...",20
...,...,...,...,...
1314,Self_Check_test_jsonl,Math,John had a son James when he was 19. James is...,8
1315,Self_Check_test_jsonl,Math,There are some oranges in a basket. Ana spends...,5
1316,Self_Check_test_jsonl,Math,Mark's car breaks down and he needs to get a n...,230
1317,Self_Check_test_jsonl,Math,"Farmer Brown has 20 animals on his farm, all e...",5
1318,Self_Check_test_jsonl,Math,Henry and 3 of his friends order 7 pizzas for ...,14

In [37]:
filename = 'train.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    data = json.load(f)

for sample in data:
    text.append(sample['Problem'] + ' The options are: ' + sample['options'])
    right_answers.append(sample['correct'])

In [38]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_train = pd.DataFrame(data)
df_train.insert(0,'Name','Self_Check_train')
df_train.insert(1,'Category','Math')
df_train

,Name,Category,Question,Correct Answer
0,Self_Check_train,Math,the banker ' s gain of a certain sum due 3 yea...,a
1,Self_Check_train,Math,average age of students of an adult school is ...,d
2,Self_Check_train,Math,sophia finished 2 / 3 of a book . she calculat...,b
3,Self_Check_train,Math,120 is what percent of 50 ? The options are: a...,b
4,Self_Check_train,Math,there are 10 girls and 20 boys in a classroom ...,a
...,...,...,...,...
29832,Self_Check_train,Math,a man invests some money partly in 10 % stock ...,a
29833,Self_Check_train,Math,"average of 10 matches is 32 , how many runs on...",d
29834,Self_Check_train,Math,solve below question 2 x + 1 = - 23 The option...,c
29835,Self_Check_train,Math,calculate 85184 Ã· ? = 352 The options are: a )...,b
29836,Self_Check_train,Math,7.51 8.22 7.86 8.36 8.09 7.83 8.30 8.01 7.73 8...,e

In [39]:
filename = 'train_socratic.jsonl.txt'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)
        text.append(sample["question"])
        full_answer = sample['answer']
        answer = full_answer.split('#### ')
        right_answers.append(answer[1])

In [40]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_train_socratic = pd.DataFrame(data)
df_train_socratic.insert(0,'Name','Self_Check_train_socratic')
df_train_socratic.insert(1,'Category','Math')
df_train_socratic

,Name,Category,Question,Correct Answer
0,Self_Check_train_socratic,Math,Natalia sold clips to 48 of her friends in Apr...,72
1,Self_Check_train_socratic,Math,Weng earns $12 an hour for babysitting. Yester...,10
2,Self_Check_train_socratic,Math,Betty is saving money for a new wallet which c...,5
3,Self_Check_train_socratic,Math,"Julie is reading a 120-page book. Yesterday, s...",42
4,Self_Check_train_socratic,Math,James writes a 3-page letter to 2 different fr...,624
...,...,...,...,...
7468,Self_Check_train_socratic,Math,"Very early this morning, Elise left home in a ...",5
7469,Self_Check_train_socratic,Math,Josh is saving up for a box of cookies. To rai...,3
7470,Self_Check_train_socratic,Math,Colin can skip at six times the speed that Bra...,4
7471,Self_Check_train_socratic,Math,"Janet, a third grade teacher, is picking up th...",308
7472,Self_Check_train_socratic,Math,"At 30, Anika is 4/3 the age of Maddie. What wo...",50

In [41]:
df_all = pd.concat([df_challenge,df_dev,df_MATH_np,df_test,df_test_jsonl,df_train,df_train_socratic],ignore_index=True)
df_all.Category.value_counts()

Math                46789
Challenging Math      604
Name: Category, dtype: int64

In [43]:
df_all.to_csv('mathQA.csv',index=False)

In [25]:
!ls ../../

data